.navbar {
  margin-bottom: 0;
  color: white;
  background-color: #00A69C;
  min-height: 100px;
}

hr {
  border-top: 1px solid #9C9B9B;
}

.borderless {
  border: 0 solid;
  border-radius: 0;
}

.tab-style {
  border-left: 1px solid #9C9B9B;
  font-size: 20px;
  font-weight: 550;
  color: #585857;
}

.nav-tabs.nav-justified>li>a {
  border-top: 0;
  border-bottom: 4px solid #9C9B9B;
  border-radius: 4px 4px 0 0;
  color: #585857;  
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
  border-top: 0;
  border-bottom: 4px solid #FAAF40;
  color: #585857;  
}

.logos {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .navbar-nav>li>a>h1 {
    font-size: 25px;
    text-align: center;
  }
  .navbar img {
    max-width: 45vw;
  }
  .navbar {
    min-height: 35vh;
  }
}