.navbar {
  margin-bottom: 0;
  color: white;
  background-color: #00A69C;
  min-height: 100px;
}

hr {
  border-top: 1px solid #9C9B9B;
}

.borderless {
  border: 0 solid;
  border-radius: 0;
}

.tab-style {
  border-left: 1px solid #9C9B9B;
  font-size: 20px;
  font-weight: 550;
  color: #585857;
}

.nav-tabs.nav-justified>li>a {
  border-bottom: 4px solid #9C9B9B;
  border-radius: 4px 4px 0 0;
  color: #585857;  
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
  border-bottom: 4px solid #FAAF40;
  color: #585857;  
}


/* #FAAF40 */



/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
